@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-ExtraLight.eot');
  src:
    url('/fonts/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Manrope-ExtraLight.woff2') format('woff2'),
    url('/fonts/Manrope-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sohne';
  src: url('/fonts/SohneBreit-Buch.eot');
  src:
    url('/fonts/SohneBreit-Buch.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SohneBreit-Buch.woff2') format('woff2'),
    url('/fonts/SohneBreit-Buch.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1440px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
