$font-path: "./fonts" !default;

@font-face {
    font-family: 'Manrope';
    src: url('#{$font-path}/Manrope-ExtraLight.eot');
    src: url('#{$font-path}/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Manrope-ExtraLight.woff2') format('woff2'),
        url('#{$font-path}/Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sohne';
    src: url('#{$font-path}/SohneBreit-Buch.eot');
    src: url('#{$font-path}/SohneBreit-Buch.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/SohneBreit-Buch.woff2') format('woff2'),
        url('#{$font-path}/SohneBreit-Buch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
