@import 'fonts';

.kima-card {
  position: relative;
  .kima-card-header {
    display: flex;
    flex-direction: column;

    .topbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include breakpoint(phablet) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      .title {
        display: flex;
        align-items: center;
        font-size: 1.2em;
        font-family: 'Sohne';
        font-weight: 400;
        letter-spacing: 1px;

        h3 {
          margin: 0;
        }

        span {
          color: $textSecondary;
          font-weight: bold;
          margin: 0 0 0 1em;
        }

        .percent {
          margin-left: 0.5em;
          font-weight: bold;
        }

        // @include breakpoint(phablet) {
        //   flex-direction: column;
        //   align-items: flex-start;

        //   p {
        //     margin: 0;
        //   }
        // }
      }

      .control-buttons {
        display: flex;
        align-items: center;

        @include breakpoint(phablet) {
          margin-left: auto;
        }

        .icon-button {
          background: transparent;
          border: 1px solid $financeGrey;
          border-radius: 40px;
          font-size: 10px;
          padding: 2px 6px;
          cursor: pointer;
          @include transition;

          &:hover,
          &:disabled {
            opacity: 0.6;
          }

          &:disabled {
            cursor: default;
          }

          svg {
            width: 22px;
            height: 22px;
            padding: 5px;
          }

          &:first-of-type svg {
            margin-top: 0.5em;
          }
        }

        a {
          margin-left: auto;
          color: $finance;
          text-decoration: none;
          cursor: pointer;
          margin-right: 1em;
        }

        .menu-button {
          font-family: 'Manrope';
          font-size: 12px;
          font-weight: 500;
          padding: 4px 10px 4px 10px;
          border: 1px solid $financeGrey;
          border-radius: 50px;
        }

        .maximize {
          color: $textSecondary;
          cursor: pointer;
        }
      }
    }
    h4 {
      font-weight: 300;
      font-size: 1em;
      margin: none !important;
    }
  }

  .kima-card-footer {
    display: flex;
    align-items: center;
    @include transition;
    max-height: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    opacity: 1;
    box-sizing: content-box;

    .button-group {
      display: flex;
      align-items: center;
      box-sizing: content-box;
      margin-left: auto;
    }

    svg {
      width: 10em;
      height: 2.5em;
    }

    p {
      font-size: 0.8em;
      margin: 0 0 0 1em;
    }

    .primary-button-wrapper {
      margin-left: 1em;
    }

    @include breakpoint(phablet) {
      p {
        display: none;
      }
    }

    @include breakpoint(mobile) {
      flex-direction: column;
      max-height: unset;

      .button-group {
        margin-left: unset;
      }
    }
  }

  .floating-footer {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    position: absolute;
    left: 35%;
    pointer-events: none;
    padding: 0.1em 1em;
    border-radius: 20px;

    @include breakpoint(mobile) {
      left: 20%;
    }

    @include breakpoint(phablet) {
      left: 30%;
    }

    &.light {
      background-color: $hover;
    }

    &.dark {
      background-color: $finance;
    }

    span {
      margin-right: 0.5em;
      font-weight: 400;
    }

    strong {
      margin-left: 0.5em;
      font-size: 0.9em;
    }
  }
}
