.kima-modal {
  position: fixed;
  z-index: 999999;
  width: 100vw;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(119, 141, 163, 0.85);
  backdrop-filter: blur(3.5px);

  .cross-icon-button {
    svg {
      padding: 8px;
    }
  }

  .modal-content-container {
    position: relative;
    width: 500px;
    max-height: 550px;
    padding: 20px;
    border-radius: 42px;
    border: 1px solid $financeGrey;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    @include transition;
    overflow: hidden;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .topbar {
      display: flex;
      flex-direction: row !important;
    }

    .account-details {
      align-items: center;
    }

    &.light {
      color: black;
      background-color: $financeLight;
    }

    &.dark {
      color: white;
      background-color: $financeDarker;
    }

    .title {
      margin-left: auto;
      font-size: 26px;
      font-family: 'Sohne';
      font-weight: 400;

      @include breakpoint(mobile) {
        font-size: 24px;
      }
    }

    .control-buttons {
      margin-left: auto;

      .icon-button {
        display: flex;
        justify-content: center;
        padding: 6px !important;
      }

      svg {
        width: 40px !important;
        height: 40px !important;
        margin: 0 !important;

        @include breakpoint(mobile) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  pointer-events: none;

  &.open {
    pointer-events: auto;
    height: 100vh;
    opacity: 1;
  }

  .modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';

    .summary {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2,
      h3 {
        margin: 0;
      }

      .address {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    .secondary-button {
      margin-bottom: 20px;
      width: fit-content !important;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        text-decoration: none;

        p {
          margin: 0;
        }
      }
    }

    .wallet-select {
      width: 100%;
      position: relative;

      p {
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
      }

      .slide-area {
        height: 400px;
        overflow-y: scroll;

        .wallet-container {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;
          margin-top: 2em;
        }
      }
    }
  }

  &.help-popup {
    .modal-content-container {
      width: 30em;
      height: 20em;
    }

    .modal-content {
      height: calc(100% - 4em);
    }
  }

  &.hash-popup {
    .modal-content-container {
      width: 20em;
      height: 12em;
    }

    .modal-content {
      height: calc(100% - 2em);

      .hash-container {
        width: 100%;
        padding: 0 2em;

        .hash-item {
          display: flex;
          align-items: center;
          column-gap: 1em;

          span {
            width: 5em;
          }
        }
      }
    }
  }

  &.pending-tx-popup {
    .modal-content-container {
      width: 45em;
      height: 20em;
    }

    .modal-content {
      height: calc(100% - 2em);

      .scroll-area {
        height: 14em;
        width: 100%;
        margin-top: 1em;
        padding: 1em 0;
        overflow-y: scroll;
        overflow-x: clip;
        background: $progressbarLight;
        border-radius: 0.5em;

        &::-webkit-scrollbar-track {
          background: transparent;
          border-radius: 3px;
        }

        .header-container {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          column-gap: 1em;
          margin-bottom: 0.5em;
          padding: 0 1em;

          span {
            text-align: center;
          }
        }

        .tx-container {
          width: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          row-gap: 0.5em;

          .tx-item {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
            column-gap: 1em;
            padding: 0.4em 1em;
            @include transition();

            &:hover {
              background-color: #5aa0db20;
            }

            .label {
              display: flex;
              justify-content: center;
              text-align: center;

              .icon-wrapper {
                display: flex;
                align-items: center;
                column-gap: 0.4em;

                svg {
                  width: 1.5em;
                  height: 1.5em;
                }
              }
            }

            .action-button-container {
              display: flex;
              flex-direction: column;

              .action-button {
                color: $textSecondary;
                display: flex;
                justify-content: center;
                cursor: pointer;

                @include transition();

                &:hover {
                  opacity: 0.7;
                }
              }

              &.disabled {
                .action-button {
                  opacity: 0.4;
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }

    &.dark {
      .scroll-area {
        background-color: #434343;
      }
    }
  }

  &.bank-popup {
    .modal-content-container {
      width: 100%;
      height: calc(100% - 3em);
      margin: 0 1.5em;
      padding: 0;
      position: relative;
    }

    .topbar {
      position: absolute;
      top: 2em;
      right: 2em;
      width: 100%;
    }

    .modal-content {
      height: 100%;

      .bank-simulation {
        h1 {
          font-size: 1.5em;
          margin-bottom: 1em;
        }

        .content-item {
          display: flex;
          align-items: enter;
          margin: 0.5em 0;
          padding: 0 3em;

          > span {
            width: 10em;
            text-align: left;
          }

          p {
            margin: 0;
          }
        }

        button {
          margin: 2em auto 0;
          width: 16em;
        }
      }
    }
  }
}
