.kima-card {
  .kima-card-content {
    .kima-progressbar {
      height: 1em;
      width: 95%;
      max-width: 900px;
      position: relative;
      border-radius: 1em;
      margin-bottom: 4em;
      margin-left: 1em;

      @include breakpoint(phablet) {
        font-size: 1.5em;
      }

      .value {
        position: absolute;
        z-index: 10;
        height: 100%;
        width: 100%;
        border-radius: 1em;
        background: linear-gradient(90deg, #adf4a6, #80d7f5, #9990d5);
        @include transition;
        transition-duration: 1000ms;
      }

      .step-indicators {
        position: relative;
        z-index: 20;
        display: flex;
        justify-content: space-between;
        margin: 0 -0.2em;
        padding-bottom: 4em;

        .step {
          width: 3em;
          height: 3em;
          margin-top: -1em;
          position: relative;
          border-radius: 40px;

          @include breakpoint(phablet) {
            width: 2em;
            height: 2em;
            margin-top: -0.5em;
          }

          svg {
            position: absolute;
          }

          &.completed,
          &.active {
            svg {
              top: -4em;
              left: 4em;
              width: 3em;
              height: 4em;

              @include breakpoint(phablet) {
                width: 2em;
                height: 2em;
                top: -3em;
                left: 0.8em;
              }
            }

            &:first-of-type {
              svg {
                left: 2em;

                @include breakpoint(phablet) {
                  left: 0.8em;
                }
              }
            }

            &:last-of-type {
              svg {
                left: auto;
                right: 1em;

                @include breakpoint(phablet) {
                  right: -0.3em;
                }
              }
            }
          }

          &.locked {
            svg {
              top: -3em;
              left: 4.5em;
              width: 2em;
              height: 2em;

              @include breakpoint(phablet) {
                top: -2.5em;
                left: 1.3em;
                width: 1em;
                height: 1em;
              }
            }

            &:first-of-type {
              svg {
                left: 2.5em;

                @include breakpoint(phablet) {
                  left: 1.2em;
                }
              }
            }

            &:last-of-type {
              svg {
                left: auto;
                right: 1.5em;

                @include breakpoint(phablet) {
                  right: 0.2em;
                }
              }
            }
          }

          &.error {
            svg {
              top: -2.8em;
              left: 4.7em;
              width: 1.5em;
              height: 1.5em;

              @include breakpoint(phablet) {
                top: -2.5em;
                left: 1.3em;
                width: 1em;
                height: 1em;
              }
            }

            &:first-of-type {
              svg {
                left: 2.7em;

                @include breakpoint(phablet) {
                  left: 1.3em;
                }
              }
            }

            &:last-of-type {
              svg {
                left: auto;
                right: 1.7em;

                @include breakpoint(phablet) {
                  right: 0.2em;
                }
              }
            }
          }

          &.light {
            background-color: white;
          }

          &.dark {
            background-color: $financeDark;
          }

          .step-info {
            position: absolute;
            width: 10em;
            left: -4em;
            top: 3.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            @include transition;
            font-weight: 300;

            // &:hover {
            //   color: $textSecondary;
            // }

            span {
              text-align: center;
              margin-left: 0.5em;
            }

            @include breakpoint(phablet) {
              width: 3em;
              left: -0.5em;
              flex-direction: column;
              position: relative;
              margin-left: -0.3em;
              top: 3em;

              span {
                font-size: 0.66em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-left: 0;
                width: 100%;
              }

              &:hover {
                align-items: center;

                span {
                  overflow: visible !important;
                  text-overflow: inherit !important;
                  white-space: inherit !important;
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }

          &:first-of-type .step-info {
            left: -2em;
            justify-content: flex-start;

            @include breakpoint(phablet) {
              left: -0.5em;

              > span {
                margin: 0 !important;
              }
            }

            > span {
              margin-left: 1.5em;
            }
          }

          &:last-of-type .step-info {
            left: unset;
            right: -1em;
            justify-content: flex-end;

            @include breakpoint(phablet) {
              right: 1em;

              > span {
                margin: 0 !important;
              }
            }

            > span {
              margin-right: 1em;
            }
          }
        }
      }
    }

    .kima-tooltip {
      padding-top: 2em;
      width: 100%;
      position: relative;

      > div {
        position: relative;
        height: fit-content;
        width: 50%;
        display: flex;
        justify-content: center;
        @include transition;

        &.position-first {
          left: -1em !important;
          justify-content: flex-start;

          .content-wrapper:before {
            left: 1em;
          }
        }

        &.position-last {
          left: calc(50% + 1em) !important;
          justify-content: flex-end;

          .content-wrapper:before {
            left: calc(100% - 3em) !important;
          }
        }

        @include breakpoint(phablet) {
          width: 100%;
          left: 0 !important;

          &.position-last {
            left: 1em !important;
          }
        }

        .content-wrapper {
          width: 22em;
          border: 1px solid $border;
          border-radius: 1em;
          padding: 1.5em;
          position: relative;

          &:before {
            position: absolute;
            content: '';
            width: 2em;
            height: 1.5em;
            left: calc(50% - 1em);
            top: -1.5em;
            background: $border;
            clip-path: polygon(50% 0, 100% 100%, 0 100%);
            @include transition;
          }

          .info-item {
            position: relative;

            &:not(:first-of-type) {
              margin-top: 0.8em;
            }

            p {
              margin-left: 1.5em;

              a {
                margin-left: 0.5em;
              }

              .copy-btn {
                display: inline;
                cursor: pointer;
                @include transition();

                &:hover {
                  opacity: 0.7;
                }

                svg {
                  width: 1em;
                  height: 1em;
                  margin-left: 0.5em;
                }
              }
            }

            svg {
              position: absolute;
              margin-top: 0.3em;
              width: 1em;
              height: 1em;
            }
          }

          @include breakpoint(phablet) {
            width: 100%;

            &:before {
              opacity: 0;
            }

            .arrow {
              position: absolute;
              position: absolute;
              content: '';
              width: 2em;
              height: 1.5em;
              top: -1.5em;
              background: $border;
              clip-path: polygon(50% 0, 100% 100%, 0 100%);
              @include transition;
            }
          }
        }
      }
    }

    .dropdown-icon {
      margin-left: auto;
      box-sizing: content-box;
      position: absolute;
      width: 0.8em;
      height: 0.8em;
      @include transition;

      &.collapsed {
        right: 1.1em;
        top: 1.7em;
        transform: rotate(-180deg);
      }

      &.toggled {
        box-sizing: content-box;
        position: absolute;
        right: 2em;
        top: 1em;
        transform: rotate(0deg);
      }
    }

    .network-select {
      position: relative;

      p {
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
      }

      .network-container {
        display: flex;
        column-gap: 1em;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        width: max-content;
        margin: 0 auto;
      }
    }

    .single-form {
      font-family: 'Manrope';
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.5px;

      @include breakpoint(phablet) {
        padding-left: 0;
      }

      .bank-input {
        margin-top: 2em;
      }

      .form-item {
        display: flex;
        align-items: center;

        &:not(:first-of-type) {
          margin-top: 2em;
        }

        > span {
          font-size: 1.16em;
          width: 10em;

          @include breakpoint(mobile) {
            margin-bottom: auto;
            width: 20em;
          }
        }

        .items {
          display: flex;
          flex-direction: row;
          justify-content: start;
          gap: 1em;
          flex-grow: 1;
          align-items: center;

          @include breakpoint(mobile) {
            flex-direction: column;
            justify-content: center;
            align-items: end;
          }
        }

        .network-item {
          display: flex;
          align-items: center;
          width: 9em;
          height: 3.5em;
          border-radius: 0.8em;

          padding: 0 0.8em;
          cursor: pointer;
          @include transition;

          svg {
            width: 2em;
            height: 2em;
            border-radius: 100%;
          }

          p {
            width: 100%;
            text-align: center;
            font-weight: bold;
          }

          &:not(:first-of-type) {
            margin-left: 0.5em;
          }

          &.light {
            background: $progressbarLight;
          }

          &.dark {
            background: $progressbarDark;
          }

          &.active {
            background: $border;

            p {
              color: white;
            }
          }

          &:hover {
            opacity: 0.7;
          }
        }

        .amount-label-container {
          display: flex;
          align-items: center;

          @include breakpoint(mobile) {
            width: 13.7em;

            input {
              // width: 100%;
            }
          }

          .coin-wrapper {
            display: flex;
            align-items: center;
            color: white;
            border: 0.5px solid;
            border-radius: 50px;
            height: 4em;
            padding: 0 1em;
            width: 8em;

            svg {
              margin-right: 1em;
            }

            &.light {
              background-color: $financeLighter;
              border-color: $financeIcon;
              color: black;
            }

            &.dark {
              background-color: $financeDark;
              border-color: $finance;
              color: white;
            }
          }
        }

        .amount-label {
          display: flex;
          align-items: center;
          background-color: $secondary;
          padding: 1em;
          border-radius: 1em;

          &.dark {
            background-color: $progressbarDark;
          }

          span {
            font-size: 1.1em;
            font-weight: 500;
          }

          .coin-wrapper {
            display: flex;
            align-items: center;
            border-radius: 1em;
            font-size: 1em;
            font-weight: 500;
            padding: 0.2em;
            padding-right: 0.5em;
            background: white;
            color: black;
            margin-left: 1em;

            svg {
              width: 1.5em;
              height: 1.5em;
              margin-right: 0.5em;
            }
          }
        }

        input {
          border-radius: 50px;
          // height: 3em;
          background: transparent;
          outline: none;
          font: unset;
          width: 5em;
          padding: 1em 2em;
          box-sizing: content-box;
          font-size: 1.2em;

          ::placeholder {
            color: $finance;
          }

          &.kima-address-input {
            width: 20em;

            @include breakpoint(mobile) {
              width: 12em;
            }
          }

          &.light {
            border: 1px solid $financeIcon;
            color: black;
            background-color: white;
          }

          &.dark {
            border: 1px solid $finance;
            color: white;
            background-color: $financeDark;
          }
        }

        .error {
          color: red;
          font-size: 0.8em;
          margin-left: 1em;
        }

        &.wallet-button-item {
          @include breakpoint(phablet) {
            align-items: flex-start;
          }

          @include breakpoint(mobile) {
            .wallet-button {
              align-items: flex-end;

              button {
                width: 12em;
              }
            }
          }
        }

        @include breakpoint(mobile) {
          justify-content: space-between;
        }
      }

      .coin-dropdown {
        position: relative;
        width: 10%;
        min-width: 80px;
        max-width: 140px;
        border-radius: 50px;
        border: 0.5px solid $financeIcon;
        padding-left: 1em;
        padding-right: 2em;
        height: 4em;
        display: flex;
        align-items: center;
        cursor: pointer;
        box-sizing: content-box;
        @include transition();

        .coin-wrapper {
          display: flex;
          align-items: center;
          border-radius: 1em;
          font-size: 1em;
          font-weight: 700;
          padding: 0.2em;
          padding-right: 0.5em;

          svg {
            margin-right: 0.5em;
          }
        }

        &.light {
          color: black;
          background: $financeLighter;
        }

        &.dark {
          color: white;
          background: $financeDark !important;

          .coin-wrapper {
            // background: $borderSecondary;
            color: white;
          }
        }

        &:before {
          box-sizing: content-box;
          position: absolute;
          width: 0.8em;
          height: 0.8em;
          right: 1.1em;
          top: 1.7em;
          border-top: 2px solid;
          border-right: 2px solid;
          border-color: white;
          transform: rotate(-45deg);
          @include transition;
        }

        .coin-menu {
          border: 0.5px solid $financeIcon;
          border-top: none;
          border-radius: 0 0 30px 30px;
          position: absolute;
          z-index: 100;
          max-height: 10em;
          width: 100%;
          top: 100%;
          left: -0.5px;
          overflow: hidden;
          @include transition;
          padding: 0.5em 0;

          .coin-item {
            margin: 0.2em 1em;
            padding: 0.2em 1em;
            border-radius: 20px;
            width: 60%;
            max-width: 240px;
            @include transition;
            display: flex;
            justify-content: start;
            flex-direction: row;
            align-items: center;

            p {
              width: 100%;
              text-align: center;
              margin: 0;
            }

            &.light:hover {
              background: $hover;
            }

            &.dark:hover {
              background: $financeDarker;
            }
          }

          &.light {
            color: black;
            background: $financeLighter;
          }

          &.dark {
            color: white;
            background: $financeDark;
          }

          &.collapsed {
            max-height: 0;
            opacity: 0;
          }
        }

        &.light {
          background: $financeLighter !important;
        }

        &.dark {
          background: $financeDark !important;
        }

        &.toggled {
          border-bottom: none;
          border-radius: 30px 30px 0 0;
        }

        &.collapsed {
          &:before {
            transform: rotate(135deg);
            top: 1.2em;
          }
        }

        &.dark {
          background: $progressbarDark;
        }
      }

      .expire-time-dropdown {
        position: relative;
        border-radius: 1em;
        padding: 0.5em;
        padding-right: 3em;
        height: 2.8em;
        display: flex;
        align-items: center;
        cursor: pointer;
        box-sizing: content-box;

        .expire-time-wrapper {
          display: flex;
          align-items: center;
          border-radius: 1em;
          font-size: 1em;
          font-weight: 500;
          padding: 0.2em;
          padding-right: 0.5em;
          padding-left: 0.5em;
          // background: white;
          color: black;
        }

        &.dark {
          .coin-wrapper {
            // background: $borderSecondary;
            color: white;
          }
        }

        &:before {
          position: absolute;
          content: '';
          width: 0.8em;
          height: 0.8em;
          right: 1.1em;
          top: 1.7em;
          border-top: 2px solid;
          border-right: 2px solid;
          border-color: white;
          transform: rotate(-45deg);
          @include transition;
        }

        .expire-time-menu {
          box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
          position: absolute;
          z-index: 100;
          max-height: 10em;
          width: 100%;
          top: calc(100% - 0.5em);
          left: 0;
          overflow: hidden;
          @include transition;

          .expire-time-item {
            padding: 0.5em 1em;
            margin: 0;
            @include transition;
            display: flex;
            align-items: center;

            p {
              width: 100%;
              text-align: center;
              margin: 0;
            }

            &:hover {
              background: $hover;
            }
          }

          &.light {
            background: white;
          }

          &.dark {
            background: $progressbarDark;
          }

          &.collapsed {
            max-height: 0;
            opacity: 0;
          }
        }

        &.light {
          background: $progressbarLight;

          &:before {
            border-color: black;
          }
        }

        &.collapsed {
          &:before {
            transform: rotate(135deg);
            top: 1.2em;
          }
        }

        &.dark {
          background: $progressbarDark;
        }
      }

      .network-dropdown {
        position: relative;
        width: 19.5em;
        min-width: 150px;
        max-width: 300px;
        border-radius: 50px;
        border: 0.5px solid $financeIcon;
        padding-left: 1em;
        padding-right: 2em;
        height: 4em;
        display: flex;
        align-items: center;
        cursor: pointer;
        box-sizing: content-box;
        @include transition();

        @include breakpoint('max-width: 586px') {
          width: 30%;
        }

        .network-wrapper {
          display: flex;
          justify-content: start;
          align-items: center;
          border-radius: 1em;
          font-size: 1.2em;
          font-weight: 700;
          padding: 0.2em;
          padding-right: 0.5em;
          color: black;
          z-index: inherit;
          width: 9.5em;

          .icon {
            display: flex;
            justify-content: center;
            padding: 4px 4px;
            border-radius: 40px;
            background-color: white;
            margin-right: 1em;
          }

          span {
            text-align: center;
          }
        }

        &.dark {
          .network-wrapper {
            color: white;
          }
        }

        &:before {
          box-sizing: content-box;
          position: absolute;
          width: 0.8em;
          height: 0.8em;
          right: 1.1em;
          top: 1.7em;
          border-top: 2px solid;
          border-right: 2px solid;
          border-color: white;
          transform: rotate(-45deg);
          @include transition;
        }

        .network-menu {
          border: 0.5px solid $financeIcon;
          border-top: none;
          border-radius: 0 0 30px 30px;
          position: absolute;
          z-index: 1000;
          max-height: 12em;
          width: 100%;
          top: 100%;
          left: -0.5px;
          overflow-x: clip;
          overflow-y: scroll;
          @include transition;

          &-item {
            margin: 0.5em 1em;
            padding: 0.8em 0.5em;
            border-radius: 20px;
            width: 60%;
            max-width: 240px;
            @include transition;
            display: flex;
            justify-content: start;
            flex-direction: row;
            align-items: center;

            .icon {
              display: flex;
              justify-content: center;
              padding: 4px 4px;
              border-radius: 40px;
              background-color: white;
            }

            p {
              text-align: center;
              margin-left: 1em;
              margin-top: 0;
              margin-bottom: 0;
              font-size: 1.2em;
            }

            &.light:hover {
              background: $hover;
            }

            &.dark:hover {
              background: $financeDarker;
            }
          }

          &.collapsed {
            max-height: 0;
            opacity: 0;
          }

          &.light {
            background-color: $financeLighter;
          }

          &.dark {
            background: $financeDark;
          }
        }

        &.light {
          background: $financeLighter !important;
        }

        &.dark {
          background: $financeDark !important;
        }

        &.toggled {
          border-bottom: none;
          border-radius: 30px 30px 0 0;
        }

        &.collapsed {
          &:before {
            transform: rotate(135deg);
            top: 1.2em;
          }
        }

        &.dark {
          background: $progressbarDark;
        }

        @include breakpoint(mobile) {
          width: 10em;
        }
      }

      .dynamic-area {
        display: flex;
        flex-direction: column;
        @include transition;

        &.reverse {
          flex-direction: column-reverse;
        }

        .form-item {
          margin-top: 2em;
        }
      }
    }

    .wallet-button {
      font-size: 1.16em;
      display: flex;
      align-items: center;

      button {
        cursor: pointer;
        display: flex;
        width: 16em;
        max-width: 300px;
        align-items: center;
        height: 3.5em;
        border: none;
        border-radius: 50px;
        padding: 0 1em;
        font-size: 1.2em;
        max-height: 48px;
        color: white;
        background-color: $finance;
      }

      p {
        margin: none;
      }

      svg {
        margin-right: 1em;
      }

      .provider-error {
        color: red;
        font-size: 0.8em;
        margin-left: 1em;
      }

      .connected {
        justify-content: center;

        &.light {
          color: black;
          background-color: $hover;
        }

        &.dark {
          color: $financeLight;
          background-color: $financeDark;
        }
      }

      &.error-below {
        flex-direction: column;

        .provider-error {
          margin-left: 0;
          margin-top: 1em;
        }
      }

      .balance-info {
        margin-left: 1em;
        color: $finance;
      }

      @include breakpoint(phablet) {
        flex-direction: column;
        align-items: flex-start;

        .balance-info {
          margin-left: auto;
        }
      }
    }

    .account-dropdown {
      display: flex;
      align-items: center;

      .balance-info {
        margin-left: 1em;
      }

      @include breakpoint(phablet) {
        flex-direction: column;
        align-items: flex-start;

        .balance-info {
          margin-left: 0;
        }
      }
    }

    .connect-wallet-step {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 2em;
      }
    }

    .coin-select {
      p {
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
      }

      .coin-list-container {
        display: flex;
        column-gap: 1em;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
      }

      .amount-input,
      .address-input {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;

        > span {
          margin-right: 1.5em;
          font-size: 1.2em;
        }

        .input-wrapper {
          position: relative;

          input {
            border: 1px solid $borderSecondary;
            border-radius: 0.8em;
            height: 3em;
            background: transparent;
            color: white;
            outline: none;
            font: unset;
            width: 12em;
            padding: 0.3em 0.5em 0.3em 1em;
            box-sizing: content-box;
          }

          .coin-label {
            position: absolute;
            display: flex;
            align-items: center;
            padding: 0.3em 0.5em 0.3em 0.3em;
            border-radius: 1em;
            right: 0.8em;
            top: 0.8em;

            svg {
              width: 1.5em;
              height: 1.5em;
            }

            span {
              margin-left: 0.5em;
            }
          }
        }

        > input {
          border: 1px solid $borderSecondary;
          border-radius: 0.8em;
          height: 3em;
          background: transparent;
          color: white;
          outline: none;
          font: unset;
          width: 10em;
          padding: 0.3em 0.5em 0.3em 1em;
          box-sizing: content-box;

          &.kima-address-input {
            width: 20em;
          }
        }

        &.light {
          input {
            color: black;
          }

          .coin-label {
            background: $progressbarLight;
          }
        }

        &.dark {
          .coin-label {
            background: $progressbarDark;
          }
        }
      }
    }

    .confirm-details {
      padding: 0 8em;
      font-size: 1.2em;

      > p {
        text-align: center;
        font-size: 0.9em;
      }

      .detail-item {
        padding: 1em 2em;
        display: flex;
        align-items: center;
        border-top: 1px solid $secondary;

        &:first-of-type {
          border-top: none;
        }

        p {
          margin: 0;
          border-radius: 50px;
          padding: 1em 1.5em;

          &.light {
            background-color: $financeLighter;
            color: black;
          }

          &.dark {
            background-color: $finance;
            color: white;
          }
        }

        .label {
          font-weight: bold;
          width: 10em;
        }

        .kima-card-network-label {
          display: flex;
          padding: 0.8em 0.5em;
          width: 12em;
          border-radius: 50px;
          margin-right: 1em;

          &.light {
            background-color: $hover;
            color: black;
          }

          &.dark {
            background-color: $financeDark;
            color: white;
          }
        }

        .signature {
          max-width: 65%;
          word-wrap: break-word;
        }
      }

      &.light {
        .kima-card-network-label {
          background: $progressbarLight;
        }
      }

      &.dark {
        .kima-card-network-label {
          background: $progressbarDark;
        }
      }

      @include breakpoint(phablet) {
        padding: 0 2em;
      }

      @include breakpoint(mobile) {
        padding: 0;

        .detail-item {
          padding: 1em 1em 1em 0;

          .label {
            width: 8em;
          }
        }
      }
    }

    .kima-custom-checkbox {
      margin-left: 11.5em;
      margin-top: 1em;
      display: flex;
      align-items: center;

      .custom-checkbox-content {
        display: flex;
        align-items: center;
        column-gap: 0.5em;
        cursor: pointer;

        .custom-checkbox-icon-wrapper {
          border: 1px solid #ffffff;
          height: 1em;
          width: 1em;
          border-radius: 0.2em;
          display: flex;
          justify-content: center;
          align-items: center;

          &.light {
            border-color: $progressbarDark;
          }

          svg {
            margin-top: 0.2em;
            margin-left: 1px;
          }
        }
      }

      > span {
        margin-left: 0.5em;
      }
    }

    .kima-stepbox {
      display: flex;
      justify-content: center;

      .content-wrapper {
        display: flex;
        flex-direction: column;
        border: 1px solid $border;
        border-radius: 1em;
        padding: 1.5em 2em;

        @include breakpoint(mobile) {
          flex: 1;
        }

        .step-item {
          display: flex;
          align-items: center;
          margin: 0.3em 0;
          justify-content: space-between;

          .info-item {
            position: relative;

            a {
              text-decoration: underline;
            }

            p {
              display: flex;
              align-items: center;
            }

            &:first-of-type {
              width: 11em;

              p {
                margin: 0 0 0 1.5em;
              }

              svg {
                position: absolute;
                margin-top: -0.3em;
                width: 2em;
                height: 2em;
                left: -0.3em;
              }
            }

            &:not(:first-of-type) {
              p {
                margin: 0;

                a {
                  margin-left: 0.5em;
                }

                .copy-btn {
                  display: inline;
                  cursor: pointer;
                  @include transition();

                  &:hover {
                    opacity: 0.7;
                  }

                  svg {
                    width: 1.5em;
                    height: 1.5em;
                    margin-left: 0.5em;
                  }
                }
              }
            }

            &.locked {
              svg {
                position: absolute;
                margin-top: -0.1em;
                width: 1.2em;
                height: 1.2em;
                left: 0;
              }
            }

            &.active {
              svg {
                margin-top: -0.6em;
                width: 2.5em;
                height: 2.5em;
                left: -0.6em;
              }
            }
          }

          @include breakpoint(phablet) {
            .info-item {
              &:first-of-type {
                padding-left: 0;
              }

              &:not(:first-of-type) {
                padding-left: 1.5em;
                padding-top: 0.2em;
              }
            }
          }
        }
      }
    }
  }

  .card-item {
    width: 10em;
    height: 9em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    @include transition;

    svg,
    img {
      width: 3em;
      height: 3em;
      border-radius: 100%;
    }

    span {
      font-weight: bold;
      margin-top: 1em;
      text-align: center;
    }

    &.light {
      background: $progressbarLight;
    }

    &.dark {
      background: $progressbarDark;
    }

    &.active {
      background: $border;

      span {
        color: white;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .kima-card-network-label {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    padding-top: 1em;

    .label {
      display: flex;
      border-radius: 1em;
      font-size: 1em;
      column-gap: 0.3em;
      align-items: center;
      padding: 0.2em 0.4em;

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.2em;
        height: 1.2em;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .warning-container {
      margin-left: 1em;
      display: flex;
      align-items: center;
      column-gap: 0.5em;
      cursor: pointer;
    }
  }

  .primary-button-wrapper {
    background: linear-gradient(to right, #8d77cc, #7bd5fb, #b2f79c);
    padding: 2px;
    border-radius: 30px;
    max-height: 48px;
  }

  .primary-button {
    background: black;
    border-radius: 30px;
    width: fit-content;
    max-height: 48px;
    padding: 1em 2em;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: inherit;
    border: none;
    @include transition;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;

    &.light {
      background-color: black;
    }

    &:hover,
    &:disabled {
      opacity: 0.7;
    }

    &:disabled {
      cursor: default;
    }

    .loading-indicator {
      margin-right: 0.5em;

      svg {
        width: 1.5em;
        height: 1.5em;
        margin-top: 0.3em;
        fill: white !important;
      }
    }

    @include breakpoint(mobile) {
      width: 8em;

      &:hover {
        opacity: 1;
      }

      &:hover:focus:active {
        opacity: 0.7;
      }
    }
  }

  .secondary-button {
    border-radius: 30px;
    width: fit-content;
    padding: 0.5em 2em;
    height: 3.5em;
    max-height: 48px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
    border-radius: 30px;
    border: 1px solid;
    letter-spacing: 0;
    @include transition;

    &.dark {
      color: white;
      border-color: white;
    }

    &.light {
      color: black;
      border-color: black;
    }

    &:hover,
    &:disabled {
      opacity: 0.7;
    }

    &:disabled {
      cursor: default;
    }

    @include breakpoint(mobile) {
      width: 8em;

      &:hover {
        opacity: 1;
      }

      &:hover:focus:active {
        opacity: 0.7;
      }
    }
  }

  .tx-button {
    margin-right: 1em;
    column-gap: 0.5em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-menu {
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 100;
    padding: 0.5em 0;
    max-height: 10em;
    width: max-content;
    overflow: hidden;
    @include transition;

    .menu-item {
      padding: 0.5em 1em;
      @include transition;

      &:hover {
        background: $hover;
      }
    }

    &.light {
      background: white;
    }

    &.dark {
      background: $backgroundDark;
    }

    &.closed {
      max-height: 0;
      opacity: 0;
      pointer-events: none;
    }
  }

  .error-tooltip,
  .popup-tooltip {
    &.dark {
      color: black;
      background-color: white;
    }
  }
}
