.kima-card {
  .kima-card-content {
    .kima-progressbar {
      height: 7px;
      width: 95%;
      max-width: 930px;
      position: relative;
      border-radius: 16px;
      margin-bottom: 64px;
      margin-left: 16px;

      @include breakpoint(mobile) {
        width: 7px;
        height: 320px;
        max-height: 560px;
      }

      .value {
        position: absolute;
        z-index: 10;
        height: 7px;
        border-radius: 16px;
        background: linear-gradient(90deg, #adf4a6, #80d7f5, #9990d5);
        transition: width 0.8s ease-in-out;

        &.step-25 {
          width: calc(25% + 0.5em);
        }

        &.step-50 {
          width: calc(50% + 0.5em);
        }

        &.step-75 {
          width: calc(75% + 0.5em);
        }

        &.step-100 {
          width: calc(100%);
        }

        @include breakpoint(mobile) {
          background: linear-gradient(180deg, #adf4a6, #80d7f5, #9990d5);
          width: 7px !important;
          transition: height 0.8s ease-in-out;
          &.step-25 {
            height: calc(25% + 0.5em);
          }

          &.step-50 {
            height: calc(50% + 0.5em);
          }

          &.step-75 {
            height: calc(75% + 0.5em);
          }

          &.step-100 {
            height: calc(100%);
          }
        }
      }

      .step-indicators {
        position: relative;
        z-index: 20;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 -3.2px;
        padding-bottom: 64px;

        @include breakpoint(mobile) {
          flex-direction: column;
          gap: 40px;
        }

        .step {
          width: 48px;
          height: 48px;
          margin-top: -21px;
          position: relative;
          border-radius: 40px;

          @include breakpoint(phablet) {
            width: 32px;
            height: 32px;
            margin-top: -12px;
          }

          @include breakpoint(mobile) {
            width: 48px;
            height: 48px;
            margin-top: -10px;
            margin-left: -17px;
          }

          svg {
            position: absolute;
          }

          &.completed,
          &.active {
            border: 1px solid $financeIcon;

            svg {
              top: -53px;
              left: 67px;
              width: 41px;
              height: 41px;

              @include breakpoint(phablet) {
                width: 32px;
                height: 32px;
                top: -45px;
                left: 40px;
              }

              @include breakpoint(mobile) {
                width: 41px;
                height: 41px;
                top: -42px;
                left: 43px;
              }
            }

            &:first-of-type {
              svg {
                left: -41px;

                @include breakpoint(phablet) {
                  left: 13px;
                }

                @include breakpoint(mobile) {
                  left: 16px;
                }
              }
            }

            &:last-of-type {
              svg {
                right: 20px;

                @include breakpoint(phablet) {
                  right: -5px;
                }
              }
            }
          }

          &.locked {
            svg {
              top: -48px;
              left: 72px;
              width: 32px;
              height: 32px;

              @include breakpoint(phablet) {
                top: -40px;
                left: 46px;
                width: 20px;
                height: 20px;
              }

              @include breakpoint(mobile) {
                width: 32px;
                height: 32px;
                left: 48px;
                top: -38px;
              }
            }

            &:first-of-type {
              svg {
                left: 40px;

                @include breakpoint(phablet) {
                  left: 19px;
                }

                @include breakpoint(mobile) {
                  left: 21px;
                }
              }
            }

            &:last-of-type {
              svg {
                right: 24px;

                @include breakpoint(phablet) {
                  right: 3px;
                }
              }
            }
          }

          &.error {
            border: 1px solid $financeIcon;

            svg {
              top: -45px;
              left: 75px;
              width: 24px;
              height: 24px;

              @include breakpoint(phablet) {
                top: -38px;
                left: 47px;
                width: 16px;
                height: 16px;
              }

              @include breakpoint(mobile) {
                top: -35px;
                left: 52px;
                width: 24px;
                height: 24px;
              }
            }

            &:first-of-type {
              svg {
                left: -32px;

                @include breakpoint(phablet) {
                  left: 20px;
                }

                @include breakpoint(mobile) {
                  left: 25px;
                }
              }
            }

            &:last-of-type {
              svg {
                right: 60px;

                @include breakpoint(phablet) {
                  right: 3px;
                }
              }
            }
          }

          &.light {
            background-color: white;
          }

          &.dark {
            background-color: $financeDark;
          }

          .step-info {
            position: absolute;
            width: 160px;
            left: -64px;
            top: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include transition;
            font-weight: 300;

            span {
              text-align: center;
              margin-left: 24px;
              font-size: 14px;

              @include breakpoint(mobile) {
                position: absolute;
                top: -30px;
              }
            }

            @include breakpoint(phablet) {
              width: 110px;
              left: -35px;
              flex-direction: column;
              position: relative;
              margin-left: -5px;
              top: 45px;

              span {
                margin-left: 0;
                width: 100%;
              }

              &:hover {
                align-items: center;

                span {
                  overflow: visible !important;
                  text-overflow: inherit !important;
                  white-space: inherit !important;
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }

          &:first-of-type .step-info {
            left: 45px;
            justify-content: flex-start;

            @include breakpoint(phablet) {
              left: -8px;
            }

            > span {
              margin-left: -45px;
              left: 91px;
            }
          }

          &:nth-of-type(even) .step-info {
            > span {
              @include breakpoint(mobile) {
                left: 100px;
              }
            }
          }

          &:nth-of-type(3) .step-info {
            > span {
              @include breakpoint(mobile) {
                left: 83px;
              }
            }
          }

          &:last-of-type .step-info {
            justify-content: flex-end;

            @include breakpoint(phablet) {
              right: 77px;

              > span {
                margin: 0 !important;
                left: 75px;
              }
            }

            > span {
              margin-right: 45px;
            }
          }
        }
      }
    }

    .kima-tooltip {
      padding-top: 2em;
      width: 100%;
      position: relative;

      > div {
        position: relative;
        height: fit-content;
        width: 50%;
        display: flex;
        justify-content: center;
        @include transition;

        &.position-first {
          left: -1em !important;
          justify-content: flex-start;

          .content-wrapper:before {
            left: 1em;
          }
        }

        &.position-last {
          left: calc(50% + 1em) !important;
          justify-content: flex-end;

          .content-wrapper:before {
            left: calc(100% - 3em) !important;
          }
        }

        @include breakpoint(phablet) {
          width: 100%;
          left: 0 !important;

          &.position-last {
            left: 1em !important;
          }
        }

        .content-wrapper {
          width: 22em;
          border: 1px solid $border;
          border-radius: 1em;
          padding: 1.5em;
          position: relative;

          &:before {
            position: absolute;
            content: '';
            width: 2em;
            height: 1.5em;
            left: calc(50% - 1em);
            top: -1.5em;
            background: $border;
            clip-path: polygon(50% 0, 100% 100%, 0 100%);
            @include transition;
          }

          .info-item {
            position: relative;

            &:not(:first-of-type) {
              margin-top: 0.8em;
            }

            p {
              margin-left: 1.5em;

              a {
                margin-left: 0.5em;
              }

              .copy-btn {
                display: inline;
                cursor: pointer;
                @include transition();

                &:hover {
                  opacity: 0.7;
                }

                svg {
                  width: 1em;
                  height: 1em;
                  margin-left: 0.5em;
                }
              }
            }

            svg {
              position: absolute;
              margin-top: 0.3em;
              width: 1em;
              height: 1em;
            }
          }

          @include breakpoint(phablet) {
            width: 100%;

            &:before {
              opacity: 0;
            }

            .arrow {
              position: absolute;
              position: absolute;
              content: '';
              width: 2em;
              height: 1.5em;
              top: -1.5em;
              background: $border;
              clip-path: polygon(50% 0, 100% 100%, 0 100%);
              @include transition;
            }
          }
        }
      }
    }

    .dropdown-icon {
      margin-left: auto;
      box-sizing: content-box;
      position: absolute;
      width: 10px;
      height: 10px;
      @include transition;

      &.collapsed {
        right: 10px;
        top: 24px;
        transform: rotate(-180deg);
      }

      &.toggled {
        box-sizing: content-box;
        position: absolute;
        right: 20px;
        top: 14px;
        transform: rotate(0deg);
      }
    }

    .network-select {
      position: relative;

      p {
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
      }

      .network-container {
        display: flex;
        column-gap: 1em;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        width: max-content;
        margin: 0 auto;
      }
    }

    .single-form {
      font-family: 'Manrope';
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;

      @include breakpoint(phablet) {
        padding-left: 0;
      }

      @include breakpoint(mobile) {
        font-size: 12px;
      }

      .bank-input {
        margin-top: 2em;
      }

      .form-item {
        display: flex;
        align-items: center;

        &:not(:first-of-type) {
          margin-top: 16px;
        }

        > span {
          width: 140px;
          margin-right: 100px;

          @include breakpoint(phablet) {
            margin-right: 20px;
          }

          @include breakpoint(mobile) {
            margin-right: 0;
            margin-bottom: auto;
          }
        }

        .items {
          display: flex;
          flex-direction: row;
          justify-content: start;
          gap: 10px;
          flex-grow: 1;
          align-items: center;

          @include breakpoint(mobile) {
            flex-direction: column;
            justify-content: center;
            align-items: end;
          }
        }

        .network-item {
          display: flex;
          align-items: center;
          width: 9em;
          height: 3.5em;
          border-radius: 0.8em;

          padding: 0 0.8em;
          cursor: pointer;
          @include transition;

          svg {
            width: 2em;
            height: 2em;
            border-radius: 100%;
          }

          p {
            width: 100%;
            text-align: center;
            font-weight: bold;
          }

          &:not(:first-of-type) {
            margin-left: 0.5em;
          }

          &.light {
            background: $progressbarLight;
          }

          &.dark {
            background: $progressbarDark;
          }

          &.active {
            background: $border;

            p {
              color: white;
            }
          }

          &:hover {
            opacity: 0.7;
          }
        }

        .amount-label-container {
          display: flex;

          .coin-wrapper {
            display: flex;
            align-items: center;
            border: 0.5px solid;
            border-radius: 50px;
            height: 50px;
            padding: 0 14px;
            width: 155px;

            @include breakpoint('max-width: 639px') {
              width: fit-content;
            }

            .icon-wrapper {
              display: flex;
              justify-content: center;
              padding: 8px;
              background-color: white;
              margin-right: 6px;
              border-radius: 9999px;
            }

            &.light {
              background-color: $financeLighter;
              border-color: $financeIcon;
              color: black;
            }

            &.dark {
              background-color: $financeDark;
              border-color: $finance;
              color: white;
            }
          }
        }

        .amount-label {
          display: flex;
          align-items: center;
          background-color: $secondary;
          padding: 1em;
          border-radius: 1em;

          &.dark {
            background-color: $progressbarDark;
          }

          span {
            font-size: 1.1em;
            font-weight: 500;
          }

          .coin-wrapper {
            display: flex;
            align-items: center;
            border-radius: 1em;
            font-weight: 500;
            padding: 0.2em;
            padding-right: 0.5em;
            background: white;
            color: black;
            margin-left: 1em;
          }
        }

        input {
          border-radius: 50px;
          // height: 3em;
          background: transparent;
          outline: none;
          font: unset;
          width: 100px;
          padding: 15px 20px;
          box-sizing: content-box;
          font-size: 14px;

          ::placeholder {
            color: $finance;
          }

          &.kima-address-input {
            width: 325px;

            @include breakpoint('min-width: 640px') {
              padding: 15px;
              width: 390px;
            }

            @include breakpoint('max-width: 585px') {
              width: 280px;
            }

            @include breakpoint(mobile) {
              width: 150px;
              font-size: 12px;
            }
          }

          &.light {
            border: 1px solid $financeIcon;
            color: black;
            background-color: white;
          }

          &.dark {
            border: 1px solid $finance;
            color: white;
            background-color: $financeDark;
          }
        }

        .error {
          color: red;
          font-size: 0.8em;
          margin-left: 1em;
        }

        &.wallet-button-item {
          &.connected {
            align-items: flex-start;

            button {
              @include breakpoint('min-width: 585xp') {
                width: 220px;
              }

              @include breakpoint('min-width: 640px') {
                width: 425px;
              }

              @include breakpoint('max-width: 585px') {
                width: 265px;
              }

              @include breakpoint(mobile) {
                width: 200px;
              }
            }
          }

          @include breakpoint(mobile) {
            .wallet-button {
              align-items: flex-end;
            }
          }
        }

        @include breakpoint(mobile) {
          justify-content: space-between;
        }
      }

      .coin-dropdown {
        position: relative;
        width: 125px;
        border-radius: 50px;
        border: 0.5px solid $financeIcon;
        padding-left: 4px;
        padding-right: 24px;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        box-sizing: content-box;
        @include transition();

        @include breakpoint('max-width: 639px') {
          width: 105px;
        }

        .coin-wrapper {
          display: flex;
          align-items: center;
          border-radius: 12px;
          padding: 2.5px;
          padding-right: 6px;

          .icon-wrapper {
            display: flex;
            justify-content: center;
            padding: 8px;
            background-color: white;
            margin-right: 6px;
            border-radius: 9999px;
          }
        }

        &.light {
          color: black;
          background: $financeLighter;
        }

        &.dark {
          color: white;
          background: $financeDark !important;

          .coin-wrapper {
            // background: $borderSecondary;
            color: white;
          }
        }

        &:before {
          box-sizing: content-box;
          position: absolute;
          width: 0.8em;
          height: 0.8em;
          right: 1.1em;
          top: 1.7em;
          border-top: 2px solid;
          border-right: 2px solid;
          border-color: white;
          transform: rotate(-45deg);
          @include transition;
        }

        .coin-menu {
          border: 0.5px solid $financeIcon;
          border-top: none;
          border-radius: 0 0 30px 30px;
          position: absolute;
          z-index: 100;
          max-height: 10em;
          width: 100%;
          top: 100%;
          left: -0.5px;
          overflow: hidden;
          @include transition;
          padding: 0.5em 0;

          .coin-item {
            margin: 2.5px 12px;
            padding: 2.5px 12px;
            border-radius: 20px;
            max-width: 240px;
            @include transition;
            display: flex;
            justify-content: start;
            flex-direction: row;
            align-items: center;

            p {
              width: 100%;
              text-align: center;
              margin: 0;
            }

            &.light:hover {
              background: $hover;
            }

            &.dark:hover {
              background: $financeDarker;
            }
          }

          &.light {
            color: black;
            background: $financeLighter;
          }

          &.dark {
            color: white;
            background: $financeDark;
          }

          &.collapsed {
            max-height: 0;
            opacity: 0;
          }
        }

        &.light {
          background: $financeLighter !important;
        }

        &.dark {
          background: $financeDark !important;
        }

        &.toggled {
          border-bottom: none;
          border-radius: 30px 30px 0 0;
        }

        &.collapsed {
          &:before {
            transform: rotate(135deg);
            top: 1.2em;
          }
        }

        &.dark {
          background: $progressbarDark;
        }
      }

      .expire-time-dropdown {
        position: relative;
        border-radius: 1em;
        padding: 0.5em;
        padding-right: 3em;
        height: 2.8em;
        display: flex;
        align-items: center;
        cursor: pointer;
        box-sizing: content-box;

        .expire-time-wrapper {
          display: flex;
          align-items: center;
          border-radius: 1em;
          font-size: 1em;
          font-weight: 500;
          padding: 0.2em;
          padding-right: 0.5em;
          padding-left: 0.5em;
          // background: white;
          color: black;
        }

        &.dark {
          .coin-wrapper {
            // background: $borderSecondary;
            color: white;
          }
        }

        &:before {
          position: absolute;
          content: '';
          width: 0.8em;
          height: 0.8em;
          right: 1.1em;
          top: 1.7em;
          border-top: 2px solid;
          border-right: 2px solid;
          border-color: white;
          transform: rotate(-45deg);
          @include transition;
        }

        .expire-time-menu {
          box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
          position: absolute;
          z-index: 100;
          max-height: 10em;
          width: 100%;
          top: calc(100% - 0.5em);
          left: 0;
          overflow: hidden;
          @include transition;

          .expire-time-item {
            padding: 0.5em 1em;
            margin: 0;
            @include transition;
            display: flex;
            align-items: center;

            p {
              width: 100%;
              text-align: center;
              margin: 0;
            }

            &:hover {
              background: $hover;
            }
          }

          &.light {
            background: white;
          }

          &.dark {
            background: $progressbarDark;
          }

          &.collapsed {
            max-height: 0;
            opacity: 0;
          }
        }

        &.light {
          background: $progressbarLight;

          &:before {
            border-color: black;
          }
        }

        &.collapsed {
          &:before {
            transform: rotate(135deg);
            top: 1.2em;
          }
        }

        &.dark {
          background: $progressbarDark;
        }
      }

      .network-dropdown {
        position: relative;
        width: 230px;
        min-width: 150px;
        max-width: 300px;
        border-radius: 50px;
        border: 0.5px solid $financeIcon;
        padding-left: 4px;
        padding-right: 24px;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        box-sizing: content-box;
        @include transition();

        @include breakpoint('max-width: 586px') {
          width: 185px;
        }

        @include breakpoint(mobile) {
          width: 165px;
        }

        .network-wrapper {
          display: flex;
          justify-content: start;
          align-items: center;
          border-radius: 15px;
          padding: 3px;
          padding-right: 7px;
          color: black;
          z-index: inherit;

          .icon {
            display: flex;
            justify-content: center;
            padding: 4px 4px;
            border-radius: 40px;
            background-color: white;
            margin-right: 14px;
          }

          span {
            text-align: center;
          }
        }

        &.dark {
          .network-wrapper {
            color: white;
          }
        }

        &:before {
          box-sizing: content-box;
          position: absolute;
          width: 0.8em;
          height: 0.8em;
          right: 1.1em;
          top: 1.7em;
          border-top: 2px solid;
          border-right: 2px solid;
          border-color: white;
          transform: rotate(-45deg);
          @include transition;
        }

        .network-menu {
          border: 0.5px solid $financeIcon;
          border-top: none;
          border-radius: 0 0 30px 30px;
          position: absolute;
          z-index: 1000;
          max-height: 200px;
          width: 100%;
          top: 100%;
          left: -0.5px;
          overflow-x: clip;
          overflow-y: scroll;
          @include transition;

          &-item {
            margin: 7px 14px;
            padding: 11px 7px;
            border-radius: 20px;
            width: 220x;
            @include transition;
            display: flex;
            justify-content: start;
            flex-direction: row;
            align-items: center;

            .icon {
              display: flex;
              justify-content: center;
              padding: 4px 4px;
              border-radius: 40px;
              background-color: white;
            }

            p {
              margin-left: 20px;
              margin-top: 0;
              margin-bottom: 0;
            }

            &.light:hover {
              background: $hover;
            }

            &.dark:hover {
              background: $financeDarker;
            }
          }

          &.collapsed {
            max-height: 0;
            opacity: 0;
          }

          &.light {
            background-color: $financeLighter;
          }

          &.dark {
            background: $financeDark;
          }
        }

        &.light {
          background: $financeLighter !important;
        }

        &.dark {
          background: $financeDark !important;
        }

        &.toggled {
          border-bottom: none;
          border-radius: 30px 30px 0 0;
        }

        &.collapsed {
          &:before {
            transform: rotate(135deg);
            top: 1.2em;
          }
        }

        &.dark {
          background: $progressbarDark;
        }
      }

      .dynamic-area {
        display: flex;
        flex-direction: column;
        @include transition;

        &.reverse {
          flex-direction: column-reverse;
        }

        .form-item {
          margin-top: 16px;
        }
      }
    }

    .wallet-button {
      display: flex;
      flex-direction: column;

      @include breakpoint(phablet) {
        width: 430px;
      }

      @include breakpoint(phablet) {
        align-items: flex-start;
        flex-direction: column;

        .balance-info {
          margin-left: auto;
        }
      }

      .info-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        @include breakpoint('max-width: 639px') {
          flex-direction: row-reverse;
          gap: 3px;
        }

        svg {
          width: 20px;
          height: 20px;
        }

        .check-icon {
          width: 30px;
          height: 30px;
        }
      }

      button {
        cursor: pointer;
        display: flex;
        width: 270px;
        align-items: center;
        height: 50px;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        color: white;
        background-color: $finance;
        font-size: 14px;

        @include breakpoint('max-width: 586px') {
          width: 220px;
        }

        @include breakpoint(mobile) {
          font-size: 12px;
          width: 195px;
        }

        &.shortened {
          justify-content: center;
          font-size: 14px;

          @include breakpoint(mobile) {
            font-size: 12px;
          }
        }
      }

      p {
        margin: none;
      }

      svg {
        margin-right: 1em;
      }

      .provider-error {
        color: red;
        font-size: 0.8em;
        margin-left: 1em;
      }

      .connected {
        &.light {
          color: black;
          background-color: $hover;
        }

        &.dark {
          color: $financeLight;
          background-color: $financeDark;
        }
      }

      &.error-below {
        flex-direction: column;

        .provider-error {
          margin-left: 0;
          margin-top: 1em;
        }
      }

      .balance-info {
        margin-left: 1em;
        color: $finance;
      }
    }

    .account-dropdown {
      display: flex;
      align-items: center;

      .balance-info {
        margin-left: 1em;
      }

      @include breakpoint(phablet) {
        flex-direction: column;
        align-items: flex-start;

        .balance-info {
          margin-left: 0;
        }
      }
    }

    .connect-wallet-step {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 2em;
      }
    }

    .coin-select {
      p {
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
      }

      .coin-list-container {
        display: flex;
        column-gap: 1em;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
      }

      .amount-input,
      .address-input {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;

        > span {
          margin-right: 1.5em;
          font-size: 1.2em;
        }

        .input-wrapper {
          position: relative;

          input {
            border: 1px solid $borderSecondary;
            border-radius: 0.8em;
            height: 3em;
            background: transparent;
            color: white;
            outline: none;
            font: unset;
            width: 12em;
            padding: 0.3em 0.5em 0.3em 1em;
            box-sizing: content-box;
          }

          .coin-label {
            position: absolute;
            display: flex;
            align-items: center;
            padding: 0.3em 0.5em 0.3em 0.3em;
            border-radius: 1em;
            right: 0.8em;
            top: 0.8em;

            svg {
              width: 1.5em;
              height: 1.5em;
            }

            span {
              margin-left: 0.5em;
            }
          }
        }

        > input {
          border: 1px solid $borderSecondary;
          border-radius: 0.8em;
          height: 3em;
          background: transparent;
          color: white;
          outline: none;
          font: unset;
          width: 10em;
          padding: 0.3em 0.5em 0.3em 1em;
          box-sizing: content-box;

          &.kima-address-input {
            width: 330px;
          }
        }

        &.light {
          input {
            color: black;
          }

          .coin-label {
            background: $progressbarLight;
          }
        }

        &.dark {
          .coin-label {
            background: $progressbarDark;
          }
        }
      }
    }

    .confirm-details {
      font-size: 16px;
      font-family: 'Manrope';

      @include breakpoint(mobile) {
        font-size: 12px;
      }

      > p {
        text-align: center;
        font-size: 14px;
      }

      .detail-item {
        padding: 16px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid $secondary;

        @include breakpoint(phablet) {
          padding: 16px 0;
        }

        &:first-of-type {
          border-top: none;
        }

        &.amount {
          align-items: start;
        }

        p {
          margin: 0;
          border-radius: 50px;
          padding: 16px;
          text-align: center;
          flex-grow: 2;
          font-size: 14px;

          @include breakpoint(mobile) {
            width: 210px;
            font-size: 12px;
          }

          &.light {
            background-color: $financeLighter;
            color: black;
          }

          &.dark {
            background-color: $finance;
            color: white;
          }
        }

        .label {
          font-weight: bolder;
          width: 10em;
        }

        .network-details {
          display: flex;
          flex-direction: row;
          gap: 14px;
          flex-grow: 2;

          @include breakpoint(mobile) {
            flex-direction: column;
            align-items: end;
            margin-left: auto;
          }
        }

        .kima-card-network-container {
          width: 210px;
        }

        .kima-card-network-label {
          display: flex;
          flex-direction: row;
          padding: 4px 18px;
          border-radius: 50px;
          height: 50px;

          .icon {
            display: flex;
            justify-content: center;
            border-radius: 9999px;
            background-color: white;
            padding: 4px;
          }

          &.light {
            background-color: $hover;
            color: black;
          }

          &.dark {
            background-color: $financeDark;
            color: white;
          }
        }

        .amount-container {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          justify-content: start;

          @include breakpoint(mobile) {
            width: 100%;
            justify-content: end;
          }

          svg {
            margin-right: 6px;
          }

          .coin-details {
            display: flex;
            flex-direction: row;

            @include breakpoint(mobile) {
              width: 100%;
              justify-content: end;
              padding-right: 6px;
              font-size: 12px;
            }

            p {
              padding: 0;
              margin: 0;
              flex-grow: 0;
              width: fit-content;
            }
          }

          .amount-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 250px;
            padding: 8px 6px;
            font-size: 14px;
            border-top: 1px solid $financeIcon;

            &:first-of-type {
              border-top: none;
              padding-top: 0;
            }

            @include breakpoint(mobile) {
              margin-left: auto;
              width: 200px;
              font-size: 12px;
            }

            &.fee {
              color: red;
            }

            &:last-of-type {
              padding-top: 15px;
            }
          }
        }

        .signature {
          max-width: 65%;
          word-wrap: break-word;
        }

        @include breakpoint(mobile) {
          align-items: start;
        }
      }

      @include breakpoint(phablet) {
        padding: 0 20px;
      }

      @include breakpoint(mobile) {
        padding: 0;
      }
    }

    .kima-custom-checkbox {
      margin-left: 245px;
      margin-top: 16px;
      display: flex;
      align-items: center;

      @include breakpoint(phablet) {
        margin-left: 110px;
      }

      @include breakpoint(mobile) {
        margin-left: 0;
        justify-content: end;
      }

      .custom-checkbox-content {
        display: flex;
        align-items: center;
        column-gap: 0.5em;
        cursor: pointer;

        .custom-checkbox-icon-wrapper {
          border: 1px solid #ffffff;
          border-radius: 0.2em;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;

          &.light {
            border-color: $progressbarDark;
          }

          .check-icon {
            width: 20px;
            height: 20px;
          }
        }
      }

      > span {
        margin-left: 0.5em;
      }
    }

    .kima-stepbox {
      display: flex;
      justify-content: center;
      font-family: 'Manrope';
      font-size: 14px;

      .content-wrapper {
        display: flex;
        flex-direction: column;
        border: 1px solid $financeIcon;
        border-radius: 30px;
        padding: 12px 24px;

        &.light {
          background-color: $financeLighter;
        }

        &.dark {
          background-color: $financeDark;
          color: white;
        }

        @include breakpoint('min-width: 500px') {
          min-width: 420px;
        }

        @include breakpoint(mobile) {
          padding: 12px 24px;
          gap: 5px;
          justify-content: space-between;
          border: none;
          background-color: transparent !important;
        }

        .step-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 5px 0;
          justify-content: space-between;
          gap: 20px;

          @include breakpoint(mobile) {
            flex-direction: column;
            align-items: end;
          }

          .info-item {
            position: relative;
            align-items: center;

            .icon {
              border-radius: 9999px;
              background-color: white;
              padding: 4px;
              display: flex;
              justify-content: center;

              @include breakpoint('min-width: 501px') {
                display: none;
              }
            }

            a {
              text-decoration: underline;
            }

            p {
              display: flex;
              align-items: center;

              @include breakpoint(mobile) {
                &.chain-name {
                  display: none;
                }
              }
            }

            &:first-of-type {
              width: 155px;

              p {
                margin: 0 0 0 21px;
              }

              svg {
                position: absolute;
                margin-top: -4.2px;
                width: 28px;
                height: 28px;
                left: -4.5px;

                @include breakpoint(mobile) {
                  top: 0;
                }
              }
            }

            &:not(:first-of-type) {
              display: flex;
              flex-direction: row;
              p {
                margin: 0;

                a {
                  margin-left: 7px;
                }

                .copy-btn {
                  display: inline;
                  cursor: pointer;
                  @include transition();

                  &:hover {
                    opacity: 0.7;
                  }

                  svg {
                    width: 21px;
                    height: 21px;
                    margin-left: 7px;
                  }
                }
              }
            }

            &.locked {
              svg {
                margin-top: 0.5px;
                width: 17px;
                height: 17px;
                left: 0;
              }
            }

            &.active {
              svg {
                margin-top: -8.5px;
                width: 35px;
                height: 35px;
                left: -8.5px;
              }
            }

            &.error {
              svg {
                margin-top: -4.5px;
                width: 17px;
                height: 28px;
                left: 0;
              }
            }
          }

          @include breakpoint(phablet) {
            .info-item {
              &:first-of-type {
                padding-left: 0;
              }

              &:not(:first-of-type) {
                padding-left: 21px;
                padding-top: 3px;
                margin-top: 10px;
              }
            }
          }

          @include breakpoint(mobile) {
            .info-item {
              gap: 5px;
              justify-content: end;

              &:first-of-type {
                display: none;
              }

              &:not(:first-of-type) {
                padding: 6px 12px;
                border-radius: 30px;

                &.light {
                  background-color: $hover;
                }

                &.dark {
                  background-color: $financeDark;
                  color: white;
                }
              }

              &.source-chain {
                margin-top: -20px;

                &.paid{
                  margin-top: 20px;
                }
              }

              &.target-chain {
                margin-top: 60px;
              }
            }
          }
        }
      }
    }
  }

  .card-item {
    width: 100%;
    height: 80px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    @include transition;
    border: 1px solid $financeGrey;

    .wallet-item {
      padding: 0 25px;
      gap: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    img,
    svg {
      width: 60px;
      height: 60px;

      @include breakpoint(mobile) {
        width: 40px;
        height: 40px;
      }
    }

    span {
      font-weight: 500;
      font-family: 'Manrope';
      text-align: center;
      font-size: 18px;

      @include breakpoint(mobile) {
        font-size: 14px;
      }
    }

    &.light {
      background: $financeLighter;
    }

    &.dark {
      background: $financeDarkest;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .kima-card-network-label {
    display: flex;
    align-items: center;
    gap: 10px;

    .label {
      display: flex;
      border-radius: 1em;
      font-size: 1em;
      column-gap: 0.3em;
      align-items: center;
      padding: 0.2em 0.4em;

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.2em;
        height: 1.2em;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .warning-container {
      margin-left: 1em;
      display: flex;
      align-items: center;
      column-gap: 0.5em;
      cursor: pointer;
    }
  }

  .primary-button-wrapper {
    background: linear-gradient(to right, #8d77cc, #7bd5fb, #b2f79c);
    padding: 2px;
    border-radius: 30px;
    max-height: 48px;
  }

  .primary-button {
    background: black;
    border-radius: 30px;
    width: fit-content;
    height: 45px;
    padding: 13px 27px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: inherit;
    border: none;
    @include transition;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 16px;

    &.light {
      background-color: black;
    }

    &:hover,
    &:disabled {
      opacity: 0.7;
    }

    &:disabled {
      cursor: default;
    }

    .loading-indicator {
      margin-right: 7px;

      svg {
        width: 20px;
        height: 20px;
        margin-top: 4px;
        fill: white !important;
      }
    }

    @include breakpoint(mobile) {
      &:hover {
        opacity: 1;
      }

      &:hover:focus:active {
        opacity: 0.7;
      }
    }
  }

  .secondary-button {
    border-radius: 30px;
    width: fit-content;
    padding: 7px 27px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
    border-radius: 30px;
    border: 1px solid;
    letter-spacing: 0;
    font-size: 16px;
    @include transition;

    &.dark {
      color: white;
      border-color: white;
    }

    &.light {
      color: black;
      border-color: black;
    }

    &:hover,
    &:disabled {
      opacity: 0.7;
    }

    &:disabled {
      cursor: default;
    }

    @include breakpoint(mobile) {
      width: 8em;

      &:hover {
        opacity: 1;
      }

      &:hover:focus:active {
        opacity: 0.7;
      }
    }
  }

  .tx-button {
    margin-right: 1em;
    column-gap: 0.5em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-menu {
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 100;
    padding: 0.5em 0;
    max-height: 10em;
    width: max-content;
    overflow: hidden;
    @include transition;

    .menu-item {
      padding: 0.5em 1em;
      @include transition;

      &:hover {
        background: $hover;
      }
    }

    &.light {
      background: white;
    }

    &.dark {
      background: $backgroundDark;
    }

    &.closed {
      max-height: 0;
      opacity: 0;
      pointer-events: none;
    }
  }

  .error-tooltip,
  .popup-tooltip {
    &.dark {
      color: black;
      background-color: white;
    }
  }
}
