$fontLarge: 32px;
$fontMedium: 16px;
$fontSmall: 12px;

// colors
$finance: #778da3;
$financeGrey: #778da34d;
$financeLight: #f7f8f9;
$financeLighter: #edf2f5;
$financeDark: #4a5068;
$financeDarker: #2c303e;
$financeDarkest: #242732;
$financeIcon: #86b8ce;
$backgroundDark: #1b1e25;
$backgroundDarker: #0c0f17;
$border: #66aae5;
$borderDark: #2c4963;
$borderSecondary: #979797;
$textSecondary: #5aa0db;
$progressbarLight: #e3e3e3;
$progressbarDark: #4f5156;
$primary: #66aae5;
$secondary: #e3e3e3;
$hover: #d6e4ea;

@mixin transition() {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1440px) {
      @content;
    }
  } @else if $point == laptop {
    @media (max-width: 1120px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $point == phablet {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 500px) {
      @content;
    }
  } @else {
    @media ($point) {
      @content;
    }
  }
}
