@import 'variables';
@import 'layout';
@import 'reusable';
@import 'modal';
@import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'react-tooltip/dist/react-tooltip.css';

.kima-card {
  border: 2px solid $financeGrey;
  border-radius: 42px;
  width: 100%;
  padding: 30px 40px;
  box-shadow: 0px 0px 30px 0px rgba(134, 184, 206, 0.5);
  font-family: 'Poppins', sans-serif;
  @include transition;
  transition-delay: 0.2s;

  &.light {
    background: white;
    color: black;

    .kima-card-header .kima-card-network-label .label {
      background: $progressbarLight;
    }

    .kima-card-content {
      .kima-progressbar {
        background: $progressbarLight;
      }

      .kima-tooltip .content-wrapper {
        background: white;
      }
    }
  }

  &.dark {
    background: $backgroundDark;
    color: white;

    .kima-card-header .kima-card-network-label .label {
      background: $progressbarDark;
    }

    .kima-card-content {
      .kima-progressbar {
        background: $progressbarDark;
      }
      .kima-tooltip .content-wrapper {
        background: $backgroundDarker;
      }
    }
  }

  &.font {
    &-large {
      font-size: $fontLarge;
      max-width: 1100px;
    }

    &-medium {
      font-size: $fontMedium;
      max-width: 900px;
    }

    &-small {
      font-size: $fontSmall;
      max-width: 700px;
    }
  }

  @include breakpoint(phablet) {
    max-width: 100vh !important;
    font-size: 12px !important;
    padding: 1.5em;
    border-radius: 0;
  }

  @include breakpoint(mobile) {
    padding: 1em;
  }

  &-content {
    width: 100%;
    margin: 2em 0;
    opacity: 1;
    max-height: 40em;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    @include transition;
  }

  &.transaction-card {
    .kima-card-content {
      display: block;
      min-height: 17em;
      margin: 2em 0 2em;
    }
  }

  &.minimized {
    max-width: 30em;

    .kima-card-content {
      opacity: 0;
      max-height: 0;
      min-height: 0;
      margin: 0;
      pointer-events: none;
    }

    .kima-card-footer {
      opacity: 0;
      max-height: 0;
      pointer-events: none;
    }
  }

  

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 3px;
      margin-top: 0.5em;
      margin-bottom: 1.5em;
    }

    &::-webkit-scrollbar-button {
      height: 20px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }
  }

  .custom-scrollbar.light {
    &::-webkit-scrollbar-thumb {
      background: $financeIcon;
    }
  }

  .custom-scrollbar.dark {
    &::-webkit-scrollbar-thumb {
      background: $finance;
    }
  }

  .slide-area {
    width: 40em;
    padding: 2em;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: scroll;
    mask-image: linear-gradient(
      90deg,
      #00000020 0%,
      black 5%,
      black 95%,
      #00000020 100%
    );
    position: relative;

    @include breakpoint(phablet) {
      width: calc(100% - 4em);
    }
  }

  .scroll-button {
    position: absolute;
    width: 100%;
    bottom: 8em;

    svg {
      width: 2em;
      height: 4em;
      cursor: pointer;
      position: absolute;

      &:first-of-type {
        left: 4em;
      }

      &:last-of-type {
        right: 4em;
        transform: rotate(180deg);
      }
    }

    @include breakpoint(phablet) {
      display: none;
    }
  }
}
