name: CI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/

      - name: test
        run: |
          echo ${{ secrets.NPM_TOKEN }}

      - name: Build the npm module and publish to npmjs.org
        run: |

          npm install
          npm publish --provenance

        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
